In [ ]:
# Задача 44: 
В ячейке ниже представлен код генерирующий DataFrame, 
# которая состоит всего из 1 столбца. 
#Ваша задача перевести его в one hot вид. 
#Сможете ли вы это сделать без get_dummies?

In [5]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  robot
2  human
3  human
4  robot

In [3]:
import random
import pandas as pd

list = ["robot"] * 10
list += ["human"] * 10
random.shuffle(list)
data = pd.DataFrame({"whoAmI":list})
data.loc[data["whoAmI"] == "robot", "robot" ] = "1"
data.loc[data["whoAmI"] == "human", "human" ] = "1"
data = data.fillna(0)
data

   whoAmI robot human
0   human     0     1
1   robot     1     0
2   robot     1     0
3   human     0     1
4   robot     1     0
5   human     0     1
6   robot     1     0
7   robot     1     0
8   robot     1     0
9   human     0     1
10  human     0     1
11  human     0     1
12  robot     1     0
13  robot     1     0
14  human     0     1
15  robot     1     0
16  human     0     1
17  human     0     1
18  human     0     1
19  robot     1     0